.new {
    color:orange;
}
.primary {
    color: orange;
}
.secondary{
    color: orange;
}
.third{
    color: orange;
}
.fourth {
    color: orange;
}
.context{
    color: orangered;
}
.old {
    color: orangered;
}