*{
  justify-content: center;
  margin-left: auto;
}
.navbar{
    height: 15vh;
    background:rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.navbar-logo{
    color:black;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
  }
  
  .nav-item a:hover {
    background: rgb(0, 212, 212);
  }
  .flex{
    display: flex;
    justify-content: center;
    
  }

  .box-container {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 300px; 
    /* Adjust the maximum width as needed */
    margin: 0 auto;
     /* Center the search bar horizontally */
    background-color: #ffffff; 
    /* Background color for the search bar */
    border: 1px solid #ccc; 
    /* Border around the search bar */
    border-radius: 10px; 
    /* Rounded corners */
    padding: 6px; 
    /* Padding inside the search bar container */
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    width: 30%;
    max-width: 50px; 
    /* Adjust the maximum width as needed */
    margin: 0 auto;
     /* Center the search bar horizontally */
    background-color: #ffffff; 
    /* Background color for the search bar */
    border: 1px solid #ccc; 
    /* Border around the search bar */
    border-radius: 20px; 
    /* Rounded corners */
    padding: 20px; 
    /* Padding inside the search bar container */
  }

  /* Search input field */
  .search-input {
    flex: 1; /* Take up remaining space in the container */
    border: none; /* Remove input border */
    outline: none; /* Remove input outline */
    padding: 6px; /* Padding inside the input field */
    font-size: 16px; /* Font size for text */
  }

  .search-item {
    border-right: 5px solid gray; /* Add a right border between items */
    padding-right: 8px; /* Add some spacing between items */
    margin-right: 8px; /* Add margin to separate items */
  }

  h5{
    margin-left: 0%;
    margin-right: 80%;
  }

  /* Profile style below
  .prof{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin:0 auto ;
  }
  .card{
    width: 300%;
    padding: 20%;
    border: 1px solid black;
 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1);
  } */

  

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.alldetails{
  justify-content: center;
  margin-left:100px ;
  margin-right: 90px;
}
.Hostel-name{
  justify-content: center;
 
}
.Hostel-name h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}
.Hostel-name h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}
/* Like icon*/
.imIcon{
  transform: scale(0.04);
}

/*image component*/
/* styles.css */
.image-gallery {
  display: flex;
  align-items: center;
}

.left-image {
  max-width: 100px;
  height: auto;
}

.right-images {
  flex: 4;
  display: flex;
  justify-content: space-between;
}

.right-images img {
  max-width: 100px;
  height: auto;
}

/*rooms available*/
.rooms-available{


}
.rooms-available h3{
  font-weight: normal;
}
.line{
  margin-right: 50%;
}

/*table*/
table{
  font-family: 'Times New Roman', Times, serif;

}
table tr td{
  row-gap: 20px;
}

.rate-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
  border: 1px solid #ccc; /* Add border */
  padding: 10px;
  text-align: center; /* Center-align the content */
  width:300px;
  border-radius: 15px;
  /* Optional: Add some margin for better spacing */
  margin: 20px;
}

.login-heading {
  text-align: center; /* Center-align the heading */
}

/*book button*/
.btn{
  color: white;
  background-color: darkturquoise;
  padding: 5px;
  width:100px;
  height: 30px;
  border-radius: 3px;
}
table{
  margin: auto;
}
.table td {
  padding-right: 20px; /* Adjust the value as needed for your desired spacing */
}
td{
  column-span: 2;
}

.list{
  display: inline;
  font-size: small;
}
