/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

.container.row.col {
  padding: 0;
}

.hostel-details {
  font-size: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: left;
}
.name-and-rating {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.hostel-details p {
  margin-bottom: 4px;
}
.name-and-rating p {
  font-weight: bold;
}


/* carousel styles */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}