/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

.card {
  width: 316px;
  height: 400px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 20px;
}
.card-body {
  height: 86px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: left;
}


/* carousel styles */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* card text styles */
.card-body {
  width: 100%;
  padding: 8px 0 0;
}
.card-title.h5,
.card-text p {
  margin: 0 0 4px;
  font-size: 16px;
}
