body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hostel */
.hostel-desc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hostel-desc p {
  margin: 0px;
}